@import '../../element-variables.scss';
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}

[v-cloak] {
  display: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* custom */

a {
  color: #7e8c8d;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
}

li {
  list-style: none;
}

 ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

 ::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
}

 ::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}

 ::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  background-color: rgb(255, 255, 255);
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* fa图标右侧需要流出空白 elementUI图标已自带样式 */
i.fa {
  vertical-align: baseline;
  width: 16px;
  margin-right: 10px;
  text-align: center;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

.pull-left{
  float: left;
}

.pull-right{
  float: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/*  页面布局样式 --start */
.container {
  padding-top: 60px;
  height: 100%;
  .content-wrapper {
    margin-left: 200px;
    width: calc(100% - 200px);
  }
  .contentCon {
    padding: 10px;
    display: inline-block;
    width: calc(100% - 20px);
  }
}

.conRight {
  background-color: rgb(255, 255, 255);
  padding: 20px;
}
/* 页面布局样式 --end */

/* font */
.font20-B {
  font-size: $--font-size-font20;
  font-weight: $--font-weight-bold;
  margin: $--font-margin;
  color: $--color-text-primary;
}

.font20 {
  font-size: $--font-size-font20;
  color: $--color-text-primary;
}

.font18-B {
  font-size: $--font-size-large;
  font-weight: $--font-weight-bold;
  margin: $--font-margin;
  color: $--color-text-primary;
}

.font18 {
  font-size: $--font-size-large;
  color: $--color-text-primary;
}

.font16-B {
  font-size: $--font-size-font16;
  font-weight: $--font-weight-bold;
  margin: $--font-margin;
  color: $--color-text-primary;
}

.font16 {
  font-size: $--font-size-font16;
  color: $--color-text-primary;
}

.font14-B {
  font-size: $--font-size-base;
  font-weight: $--font-weight-bold;
  margin: $--font-margin;
  color: $--color-text-primary;
}

.font14 {
  font-size: $--font-size-base;
  color: $--color-text-primary;
}

.font13-B {
  font-size: $--font-size-small;
  font-weight: $--font-weight-bold;
  margin: $--font-margin;
  color: $--color-text-primary;
}

.font13 {
  font-size: $--font-size-small;
  color: $--color-text-primary;
}

.font12-B {
  font-size: $--font-size-font12;
  font-weight: $--font-weight-bold;
  margin: $--font-margin;
  color: $--color-text-primary;
}

.font12 {
  font-size: $--font-size-font12;
  color: $--color-text-primary;
}

/* button */
.el-button.is-round {
  padding: $--button-padding-vertical $--button-padding-horizontal;
}

.el-button--medium.is-round {
  padding: $--button-medium-padding-vertical $--button-medium-padding-horizontal;
}

.el-button--small.is-round {
  padding: $--button-small-padding-vertical $--button-small-padding-horizontal;
}

.el-button--mini.is-round {
  padding: $--button-mini-padding-vertical $--button-mini-padding-horizontal;
}

/* input */
.el-form-item.is-error .el-input__inner{
  border-color: $--color-danger;
}

.el-form-item.is-success .el-input__inner{
  border-color: $--color-success;
}

/* icon */
[class^="el-icon-"], [class*=" el-icon-"]{
  color: $--color-cloudy-blue;
}

/* tag */


/* menu */
.el-menu--horizontal>.el-menu-item.is-active, .el-menu--horizontal>.el-submenu.is-active .el-submenu__title {
  border-bottom: 3px solid $--color-primary;
}

/* alert */
.el-alert__content, .el-alert .el-alert__description{
  color: $--color-white;
}

.el-alert__icon, .el-alert__closebtn{
  color: $--color-white;
}

/* table */
.el-table td{
  font-size: $--font-size-font12;
}

.el-table .el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #f7f8fa;
}

.el-table.tableStyle1 .el-table__header th{
  background-color: #f3f5f6;
  color: $--color-text-primary;
}

.el-table.tableStyle2 .el-table__header th{
  background-color: #fafdff;
  color: $--color-text-primary;
  border-top: 2px solid $--color-primary;
  border-right: 1px solid #e5f1fa;
  border-bottom: 1px solid #e5f1fa;
  &:last-child{
    border-right: none;
  }
}

.el-table.tableStyle2 td{
  border-bottom: none;
}

/* el-dialog */
.w600 .el-dialog{
  width: 600px;
}

.w400 .el-dialog{
  width: 400px;
  .el-dialog__body{
    text-align: center;
    [class^="el-icon-"], [class*=" el-icon-"]{
      font-size: 60px;
      margin-bottom: 15px;
    }
  }
  
  .el-icon-success{
    color: $--color-success;
  }
  .el-icon-warning{
    color: $--color-warning;
  }
  .el-icon-error{
    color: $--color-danger;
  }
}

.el-dialog__header {
  border-bottom: 1px solid $--border-color-lighter;
}

.el-dialog__footer {
  border-top: 1px solid $--border-color-lighter;
  text-align: center;
}

.el-dialog.w400{
  width: 400px;
}

/* el-message-box */
.el-message-box__headerbtn .el-message-box__close {
  display: none;
}

/* v-cloak解决页面加载闪烁问题 不能使用import引入，可以放在link引入的css中或者写在页面之中才能生效 */
[v-cloak] {
  display: none;
}